@{
    ViewBag.Title = "Azure Key Vault Manager";
}

<div class="jumbotron">
    <h2>Azure Key Vault Manager V 1.0.2</h2>
    <p class="lead">Are you looking for a tool to manage your Azure Key Vault ?</p>
    <p class="btn">@Html.ActionLink("Start", "Index", "KeyVault")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Azure Key Vault links</h3>
        <p><a href="http://azure.microsoft.com/en-us/services/key-vault/" target="_blank">Azure Key Vault &raquo;</a></p>
        <p><a href="http://azure.microsoft.com/en-us/documentation/services/key-vault/" target="_blank">Documentation &raquo;</a></p>
        <p><a href="http://azure.microsoft.com/en-us/pricing/details/key-vault/" target="_blank">Pricing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Other Links</h3>
        <p><a href="https://thuruinhttp.wordpress.com" target="_blank">Blog &raquo;</a></p>
        <p><a href="https://github.com/thuru/AzureKeyVaultManager" target="_blank">Source Code &raquo;</a></p>
        <p><a href="https://thuruinhttp.wordpress.com/2015/05/30/azure-key-vault-setup-and-usage-scenarios/" target="_blank">Key Vault Explained &raquo;</a></p>
        <p><a href="https://github.com/thuru/AzureKeyVaultSample/tree/master/AzureKeyVaultSample/PowerShellScript" target="_blank">Key Vault PowerShell &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><div class="fb-share-button" data-href="http://keyvaultmanager.azurewebsites.net/" data-layout="button_count"></div></p>
        <p><div class="fb-like" data-href="http://keyvaultmanager.azurewebsites.net/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></p>

    </div>
</div>