@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<br/><br/>

<div>
    <p>@Html.ActionLink("List Secrets", "Secrets", "KeyVault") &raquo;</p>
   
    <p>@Html.ActionLink("Create Secret", "CreateSecret", "KeyVault") &raquo;</p>
   
    <p>@Html.ActionLink("List Keys", "Keys", "KeyVault") &raquo;</p>
</div>